# Get your API key from https://aistudio.google.com/apikey
GEMINI_API_KEY=

# Get your Tavily API key from https://tavily.com
TAVILY_API_KEY=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Database URL for your PostgreSQL database
DATABASE_URL=

# Auth related environment variables
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Optional: Sentry DSN for error tracking
SENTRY_DSN=
