# Get your OpenAI API Key here: https://platform.google.com/account/api-keys
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyAf7fzPuU0jL6GWnB6jOnZEjlzA7nV-5cg

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=8675309

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=vercel_blob_rw_Mi9Q8Vp4LnrTS3WV_P83jg92r8aUb5xztRP7fn0i3PqcQsD


# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=postgres://neondb_owner:PL2NuOjRhZ1G@ep-misty-forest-a5bvaxwf-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

